 <h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

## Some of the popular languages that Data Scientists use are: 
1. Python
2. R
3. Julia

## Some of the commonly used libraries used by Data Scientists include:
1. Numpy
2. Matplotlib
3. Pandas
4. SciPi
5. TensorFlow

| Data Science Tools |
| :----------------- |
| Jupiter Lab        |
| R Studio           |
| Visual Studio      |

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [5]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
#This will convert 200 minutes to hours by diving by 60
200//60

3

**Objectives:**
* Python
* R
* Julia
* Scala

<h2>Author: </h2>
    ...